.sendMsg{
    display: flex;
    align-items: center;
    width: 50rem;
    height: 2.5rem;
    resize: none;
    border-radius: .5rem;
    border: none;
    outline: none;
    padding: .5rem .8rem;
    font-size: 1rem;
}