.grpDetailsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  .inpImage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    overflow: hidden;
    background-color: #707f87;
    .overlay {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: var(--overlayColor);
      color: #fff;
      text-align: center;
      z-index: 9999;
      :nth-child(1) {
        font-size: 1.6rem;
      }
      h5 {
        font-weight: 400;
      }
    }
    .grp {
      height: 70%;
      width: 70%;
      object-fit: cover;
      color: var(--profileIcon);
    }
  }
  #groupData {
    width: 100%;
    padding: 0.8rem 1.8rem;
    .changeDp {
      display: none;
    }
    .grpName {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.18rem solid var(--iconColor);
      input {
        width: 18.8rem;
        height: 2rem;
        font-size: 1rem;
        font-weight: 400;
        outline: none;
        border: none;
      }
    }
  }
}
